<?xml version="1.0" encoding="utf-8"?>
<LiveDataGrid>
  <group name="All Fields" alwaysVisible="false"> <!--alwaysVisible means that these fields will be visible on all groups-->
    <field dispName="Tab No.">HorseNumber</field> <!--HorseNumber id the DB name, Tab No. the display name-->
    <field dispName="BP">Barrier</field>
    <field formatter="currencyFormatter">ODDSLAST1</field>
    <field formatter="currencyFormatter">ODDSLAST2</field>
    <field formatter="currencyFormatter">ODDSLAST3</field>
    <field formatter="winOddsFormatter">WinOdds</field>
    <field formatter="placeOddsFormatter">PlaceOdds</field>
    <field>Z_WinOddsRank</field>
    <field>AVG3WinOddsRank</field>
    <field dispName="Plc.">Place</field>
    <field colWidth="140">Jockey</field>
    <field dispName="JockeyPoints">jockeypoints</field>
    <field colWidth="140">Trainer</field> <!--colWidth sets the column width to a fixed pixels value-->
    <field>Age</field>
    <field>Sex</field>
    <field>Color</field>
    <field>nUp</field>
    <field>Class+/-</field>
    <field>Gld?</field>
    <field>Wt+/-</field>
    <field>DSLR</field>
    <field>BFAVL?</field>
    <field>Mdn?</field>
    <field>MktRel</field>
    <field>NewTr?</field>
    <field>LSW?</field>
    <field>FirstSt?</field>
    <field>KAD?</field>
    <field>FUP?</field>
    <field>LUP?</field>
    <field>QBU?</field>
    <field>GJD?</field>
    <field>DRPD?</field>
    <field>H4CRSE?</field>
    <field>H&amp;J?</field>
    <field>BeenThere</field>
    <field>TurfPts</field>
    <field>LAST10</field>
  </group>

  <group name="HKG Fields" countrycode ="HKG" alwaysVisible="false">
    <field formatter="linkFormatter" colWidth="140" dispName="Horse">Horse</field> <!--linkFormatter renders the link to runner history page-->
    <field>Rtg</field>
    <field>CWt</field>
    <field formatter="percentageFormatter">Cwt%BW</field>
    <field>JmpRnk</field>
    <field>FinishRnk</field>
    <field>RanOnL?</field>
    <field>LostLeadL?</field>
    <field>1TRICKJ?</field>
    <field>NewGear?</field>
    <field>AWTPts</field>
  </group>

  <group name="AUS Fields" countrycode ="AUS" alwaysVisible="false">
    <field>Wt</field>
    <field>ROLast?</field>
    <field>SwampedLast?</field>
    <field>AWTPts</field>
  </group>

  <group name="RSA Fields" countrycode ="RSA" alwaysVisible="false">
    <field>Wt</field>
    <field>ROLast?</field>
    <field>SwampedLast?</field>
    <field>SandPts</field>
    <field>PolyPts</field>
  </group>

</LiveDataGrid>
