<?xml version="1.0" encoding="utf-8"?>
<runnerHistoryFields>
  <group name="Horse" countrycode ="HKG" alwaysVisible="true">
    <field>Season</field>
    <field>RI</field>
    <field>Pla.</field>
    <field>Ran</field>
    <field formatter="onlyDate">Date</field>
    <field>DOW</field>
    <field>RC</field>
    <field>Surface</field>
    <field>Dist</field>
    <field>G</field>
    <field>Class</field>
    <field>Rtg</field>
    <field>Jockey</field>
    <field>Trainer</field>
  </group>


  <group name="Horse" countrycode ="RSA" alwaysVisible="true">
    <field>Season</field>
    <field>RaceCode</field>
    <field>Pla.</field>
    <field>Ran</field>
    <field formatter="onlyDate">Date</field>
    <field>DOW</field>
    <field>RC</field>
    <field>Surface</field>
    <field>Dist</field>
    <field>G</field>
    <field>Jockey</field>
    <field>Trainer</field>
    <field formatter="onlySecs">Finish Time</field>
  </group>


  <group name="Times" countrycode ="HKG" alwaysVisible="false">
    <field formatter="onlySecs">JumpSec</field>
    <field formatter="onlySecs">LastSec</field>
    <field formatter="onlySecs">Finish Time</field>
  </group>
  

  <group name="Market" countrycode ="HKG" alwaysVisible="false">
    <field>Win Odds</field>
    <field>Place Odds</field>
    <field>Odds Rank</field>
    <field>F4OddsRk</field>
    <field>FavPos</field>
    <field>BarF3</field>
    <field>BarF7</field>
  </group>
  
  <group name="Market" countrycode ="RSA" alwaysVisible="false">
    <field>Win Odds</field>
    <field>Odds Rank</field>
    <field>F4OddsRk</field>
    <field>FavPos</field>
    <field>BarF3</field>
    <field>BarF7</field>
  </group>

  

  <group name="ThisVersusLast" alwaysVisible="false">
    <field>DLR?</field>
    <field>RepPerf?</field>
    <field>HotTrainer?</field>
    <field>HotJock?</field>
    <field>1TrickJ?</field>
    <field>Gear</field>
    <field>Gld?</field>
    <field>CWt</field>
    <field>%BW</field>
    <field>NewTr?</field>
    <field>LSW?</field>
  </group>

  <group name="Recent/Career" alwaysVisible="false">
    <field>GJD?</field>
    <field>DROP?</field>
    <field>KAD?</field>
    <field>H4CRSE</field>
    <field>H&J</field>
  </group>
</runnerHistoryFields>
