<?xml version="1.0" encoding="utf-8"?>
<runnerHistoryFields>
  <group name="Horse" alwaysVisible="true">
    <field>RI</field>
    <field>Pla.</field>
    <field>Ran</field>
    <field formatter="onlyDate">Date</field>
    <field>DOW</field>
    <field>RC</field>
    <field>Track</field>
    <field>Surface</field>
    <field>Dist</field>
    <field>Class+/-</field>
    <field>Rtg</field>
    <field>Jockey</field>
  </group>

  <group name="Times" alwaysVisible="false">
    <field formatter="onlySecs">JumpSec</field>
    <field formatter="onlySecs">LastSec</field>
    <field formatter="onlySecs">Finish Time</field>
  </group>

  <group name="Market" alwaysVisible="false">
    <field>Win Odds</field>
    <field>Place Odds</field>
    <field>wasFav?</field>
    <field>Odds Rank</field>
    <field>F4OddsRk</field>
  </group>

  <group name="ThisVersusLast" alwaysVisible="false">
    <field>Gear</field>
    <field>Gld?</field>
    <field>CWt</field>
    <field>%BW</field>
    <field>Wt+/-</field>
    <field>NewTr?</field>
    <field>LSW?</field>
    <field>RO?</field>
    <field>LostLeadLast?</field>
  </group>

  <group name="Recent/Career" alwaysVisible="false">
    <field>CD Winner?</field>
    <field>FirstStart?</field>
    <field>KAD?</field>
  </group>
</runnerHistoryFields>