@using RaceDayDisplayApp.Models

@{
    Layout = null;
}

@model Meeting


<h3>Meeting Details</h3>
<div class="details_attrs">
    @foreach (var field in ModelHelper.ToNameValuePairs(Model, Model.IsHK))
    {
        <div class="details_attrs_wrapper">
            @field.DisplayName:
            @field.Value
        </div>
    }
</div>
<div class="history-container">
    <div class="panel-flip" id="meeting-flip">Show more (FAV/LSW/TF/QN/F4 statistics)</div>
    <div class="panel-history" id="meeting-history">
        <table>
            <tr><td>field</td><td>field</td><td>field</td><td>field</td><td>field</td><td>field</td><td>field</td><td>field</td></tr>
            <tr><td>field</td><td>field</td><td>field</td><td>field</td><td>field</td><td>field</td><td>field</td><td>field</td></tr>
            <tr><td>field</td><td>field</td><td>field</td><td>field</td><td>field</td><td>field</td><td>field</td><td>field</td></tr>
            <tr><td>field</td><td>field</td><td>field</td><td>field</td><td>field</td><td>field</td><td>field</td><td>field</td></tr>
            <tr><td>field</td><td>field</td><td>field</td><td>field</td><td>field</td><td>field</td><td>field</td><td>field</td></tr>
            <tr><td>field</td><td>field</td><td>field</td><td>field</td><td>field</td><td>field</td><td>field</td><td>field</td></tr>
            <tr><td>field</td><td>field</td><td>field</td><td>field</td><td>field</td><td>field</td><td>field</td><td>field</td></tr>
        </table>
    </div>
</div>