@using RaceDayDisplayApp.Models

@{
    Layout = null;
}

@model Race


<h3>Race Details</h3>
<div class="details_attrs">
    @foreach (var field in ModelHelper.ToNameValuePairs(Model, Model.IsHK))
    {
        <div class="details_attrs_wrapper">
            @field.DisplayName:
            <span id="@(field.FieldName)">@(field.Value)</span>
        </div>
    }
</div>
