@using RaceDayDisplayApp.Models

@model RaceDayDisplayApp.Models.Meeting

@{
    ViewBag.Title = "Meeting Details";
}

@section scripts
{
    @Scripts.Render("~/bundles/jqGrid")
}

@Html.HiddenFor(m => m.CountryEnum)
@Html.HiddenFor(m => m.CountryCode)


<div class="main_container">
    <div id="top_panel">
        @*<div id="panel_left">*@
            <h2>Meeting Details</h2>

            <div class="select">
                <div class="select_div">
                    @Html.DropDownList("RacesList", new SelectList(Model.Races, "RaceId", "RaceNumber"), "Race number")
                </div>
                <div class="select_div" id="btns_div">
                    <div class="btn_container">
                        <input id="btn_refresh" type="button" value="Refresh" onclick="refreshGrid()" />
                    </div>
                    <div class="btn_container">
                        <input id="btn_default" type="button" value="Default" onclick="defaultSettings()" />
                    </div>
                </div>
            </div>
            <div id="meeting_details">
                @{Html.RenderPartial("_MeetingData", Model);}
            </div>
            <div id="race_details">
            </div>
            <div id="chks_container" class="chks_container">
                @{Html.RenderPartial("_GridSettings", (IEnumerable<ViewUserSetting>)ViewBag.UserSettings);}
            </div>
        @*</div>
        <div id="panel_right">
            <h2>Chart Details</h2>
            <p>Drag & Drop grid items to this area</p>
        </div>*@
    </div>
    <div id="form-box"></div>
</div>

