@{
    ViewBag.Title = "Index";
}

@*<h2>Index</h2>*@

<div class="index_buttons">
    <form action="/Meetings" method="get">
        <input class="buttons" id="Button1" type="submit" value="Upcoming Races" />
    </form>
    <form action="/RaceResearch" method="get">
        <input class="buttons" id="Button2" type="submit" value="Race Research" />
    </form>
</div>