
/************** MEETING DETAILS PAGE **************/

/*#top_panel
{
    height:555px;
}*/

.select,
#meeting_details,
#race_details,
#form-box,
#gbox_jqgrid
{
    float:left;
    width:100%;
    /*border:1px solid #000;*/ 
    margin-bottom: 10px;
}

#form-box,
#gbox_jqgrid {
    width:98%;
}

.select
{
    /*width:100%;*/
    padding-top:20px;
}

.select_div
{
    width:50%;
    float:left;
}

.btn_container
{
    float:right!important;
}

#btns_div
{
    display:none;
}

#meeting_details, #race_details
{
    float:left;
    width:96%;
    background-color:#fff;
    padding:0px 10px;
}

/*#meeting_details
{
    margin-right:10px;
}*/

.details_attrs
{
    float:left;
    width:100%;
    padding:10px 0px;
}

.details_attrs_wrapper
{
    float:left;
    width:20%; /*33%;*/
    /*padding:0.3em;*/
}

/************************** RACE HISTORY ******************************/

.history-container {
    float:left;
    width:100%;
}
.panel-history, .panel-flip {
    padding:5px;
}
.panel-flip {
    float:right;    
    background-color:#e5e5e5;
}
.panel-history {
    float: left;
    width:100%;
    padding:5px;
    display:none;
}

/*.race-history-table{
    float:left;
    width:100%;
    background-color:#fff;
    padding:0px 10px;
}*/

/*.race-history table{
    width:100%;
}*/
/*.race-history th{
    line-height:30px;
    background: #dcdcdc;
}*/

/************************** CHECKBOXES ******************************/

.chks_container
{
    float:left;
    width:96%;
    display:none;
    background-color:#fff;
    padding:10px;
}

.chks_container h3
{
    margin-top: 0px;
    padding-bottom: 10px;
}

.check_list
{
    float:left;
    width:100%; 
    padding:0.3em;
}

.check_list h3
{
    /*padding-top:0px;*/
    margin-top:0px;
    margin-bottom:10px;
}

.check_wrapper
{
    float:left;
    width: 14.28%;/*20%;*/ 	
    padding: 0px 0px ;
}

.lbl_checkbox
{
    display:inline;
    color: #333;
    font-size: 1.1em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    font-weight:400;
}

/************** GRID **************/

#form-box
{
    padding-top:15px;
}

.alt_rows
{
    background: #e4e4e4;
}

#race_grid td 
{
    text-align:center; 
    vertical-align:middle;
}

.scratched{
    text-decoration:line-through;
    font-style:italic;
    color:red;
}

.cell_favorite{
    background-color:#C80000;
    color:#FFFFFF;
}

.cell_dropBy20 {    
    background-color:#2AA216;
    color:#FFFFFF;
}

.cell_dropBy50 {
    background-color:#993300;
    color:#FFFFFF;
}

/************** RIGHT PANEL **************/

#panel_left 
{
    float:left; 
    width:77%;
}
#panel_right 
{
    float:left; 
    width:17%;  
    padding-left:1em; 
    margin-left:1em;
    padding-right:1em; 
    margin-right:1em;     
    background-color:#e1e0e1; 
    height: 100%;  
    border-left: solid #fff 2px; 
    background-image:url("../Images/arrow.png"); 
    background-repeat: no-repeat;
    display:none;
}
#panel_right p 
{ 
    padding:0.85em; 
    margin-top:2em; 
    background-color: #fff;  
}
#panel_right h2 
{ 
    padding-left:0.6em;
}

/************** RACE DETAILS PAGE **************/
#nextPreviousRace {
    float:left; 
    width:100%;
    background-color: #fff;
    height:50px;

}
    #nextPreviousRace .prev {
         float:left; 
         width:40%;
         background-image:url("../Images/arrow_prev.jpg"); 
         background-repeat: no-repeat;
         background-position: left;
         padding-left:35px;
         
    }
    #nextPreviousRace .next {
         float:left; 
         width: 53.2%; /*51.2%;*/
         background-image:url("../Images/arrow_next.jpg"); 
         background-repeat: no-repeat;
         background-position: right;
         text-align:right;
         padding-right:30px;
      
    }

        #nextPreviousRace .next ,
        #nextPreviousRace .prev  {
            height: 34px;
            padding-top: 16px;
        }
        #nextPreviousRace .next a,
        #nextPreviousRace .prev a {
            color: #666;
            font-size: 0.85em;
            font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
            font-weight: bold;
            
        }

/************** LIST OF COUNTRIES / MEETINGS PAGE **************/

.index_head{
    float:left; 
    width:100%
}
.index_link1{
    float:left; 
    padding-top:10px;
    padding-bottom:10px;
}

.index_link2{
    float:right; 
    padding-top:10px;
    padding-bottom:10px;
}

.countries_list{
    /*float:left;*/
    width:100%; 
    /*padding:0.3em;*/
}

.country{
    float:left;
    width:45%;
    background-color:#fff;
    margin:10px;
    padding:10px;
    /*border-right: 1px dotted #666;*/
}

.country p{
    font-size:large;
}

.country ul{
    list-style-type: none;
}

.country ul li{
    font-size:medium;
}

/************** LIST OF RACES PAGE**************/

.race_table{
    float:left;
    /*max-width: 650px;*/
    width:100%;
    background-color:#fff;
    padding:0px 10px;
}
.race_table table{
    width:100%;
}
.race_table th{
    line-height:30px;
    background: #dcdcdc;
}

.race_column{
    width: 40% !important;
}

.race_table td{
    width: 12%;
}

.visible{
    display:block!important;
}

.nextRace{
    background: #e4e4e4;
}
/************** ALL PAGES **************/

h2, h3 {
    color: #666;
}

ul
{
    list-style-type: none;
}


/************* RUNNER HISTORY ****************/

.horse-history,
.horse-details,
.runner-history{
    float:left;
    padding:10px;
    width:100%;
}

.hist_table_controls {
    float:left;
}

.history-body {
    /*font: 12px/15px "Helvetica Neue",Arial, Helvetica, sans-serif;*/
    color: #555;
}

.runner-history h2 {
    margin-top: 0px!important;
}

.div-season{
    width:100%;
}

.season-row,
.FU-row,
.LU-row{
    text-align:center!important;
    font-weight:bold;
    /*background:#dedede !important;*/
    background: -webkit-gradient(linear, 0% 0%, 0% 25%, from(#f2f2f2), to(#ededed)) !important;
}

/*
Pretty Table Styling
CSS Tricks also has a nice writeup: http://css-tricks.com/feature-table-design/
*/
.stats-table {
    overflow: hidden;
    border: 1px solid #d3d3d3;
    background: #fefefe;
    width: 70%;
    /*margin: 5% auto 0;*/
    -moz-border-radius: 5px; /* FF1+ */
    -webkit-border-radius: 5px; /* Saf3-4 */
    border-radius: 5px;
    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

.stats-table th,
.stats-table td {
    padding: 5px 10px 5px;
    text-align: center;
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow:ellipsis;
}

.stats-table th {
    padding-top: 10px;
    text-shadow: 1px 1px 1px #fff;
    background: #e8eaeb;
}

.stats-table td {
    border-top: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;
}

.stats-table tr.odd-row td {
    background: #f6f6f6;
}

.stats-table td.first, th.first {
    text-align: left;
}

.stats-table td.last {
    border-right: none;
}

/*
Background gradients are completely unnecessary but a neat effect.
*/

.stats-table td {
    background: -moz-linear-gradient(100% 25% 90deg, #fefefe, #f9f9f9);
    background: -webkit-gradient(linear, 0% 0%, 0% 25%, from(#f9f9f9), to(#fefefe));
}

.stats-table tr.odd-row td {
    background: -moz-linear-gradient(100% 25% 90deg, #f6f6f6, #f1f1f1);
    background: -webkit-gradient(linear, 0% 0%, 0% 25%, from(#f1f1f1), to(#f6f6f6));
}

.stats-table th {
    background: -moz-linear-gradient(100% 20% 90deg, #e8eaeb, #ededed);
    background: -webkit-gradient(linear, 0% 0%, 0% 20%, from(#ededed), to(#e8eaeb));
}

/*
I know this is annoying, but we need additional styling so webkit will recognize rounded corners on background elements.
Nice write up of this issue: http://www.onenaught.com/posts/266/css-inner-elements-breaking-border-radius

And, since we've applied the background colors to td/th element because of IE, Gecko browsers also need it.
*/

.stats-table tr:first-child th.first {
    -moz-border-radius-topleft: 5px;
    -webkit-border-top-left-radius: 5px; /* Saf3-4 */
}

.stats-table tr:first-child th.last {
    -moz-border-radius-topright: 5px;
    -webkit-border-top-right-radius: 5px; /* Saf3-4 */
}

.stats-table tr:last-child td.first {
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-bottom-left-radius: 5px; /* Saf3-4 */
}

.stats-table tr:last-child td.last {
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-right-radius: 5px; /* Saf3-4 */
}

/************************************RACE RESEARCH***************************************/


.filters-container-half
{
    float: left;
    width: 50%;
}

@media (max-width: 800px) {

    .filters-container-half
    {
        width: 100%;
    }
}

.filters-container{
    float:left;
    width:100%;
}

.filter, .short-filter, .long-filter{
    float:left;
}
.filter{
    width:33%;
}
.long-filter{
    width:47%;
}
.short-filter{
    width:20%;
    min-width:98px;
    margin-left:8px;
}

.ui-widget-content {
    width: 88%;
}

.long-filter .ui-combobox{
    /*min-width: 300px;*/
    width: 100%;
}

.filters-button-container{
    float: right;
    margin-right: 8%;
    margin-top: 10px;
}

