@model System.Web.Mvc.HandleErrorInfo
@{
    Layout = "_Layout.cshtml";
    ViewBag.Title = "Error";
}
<div class="list-header clearfix">
    <span>Error</span>
</div>
<div class="list-sfs-holder">
    <div class="alert alert-error">
        An unexpected error has occurred. Please check log file for more info.
    </div>
    @if (Model != null && HttpContext.Current.IsDebuggingEnabled)
    {
        //TODO Quite a bad practice to reference the logger from the view. Find a better way
        RaceDayDisplayApp.Common.Log.Instance.Error(Model.Exception.Message, Model.Exception);
        <div>
            <p>
                <b>Exception:</b> @Model.Exception.Message<br />
                <b>Controller:</b> @Model.ControllerName<br />
                <b>Action:</b> @Model.ActionName
            </p>
            <div style="overflow:scroll">
                <pre>
@Model.Exception.StackTrace
                </pre>
            </div>
        </div>
    }
</div>